* {
    padding: 0px;
    margin: 0px;
}
.nav{ 
    padding: 20px;
    background: #4A6B8A;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    box-shadow: 1px 1px 10px black;
    grid-template-rows: 1fr,1fr,1fr;
}
.nav>.titulo{
    grid-column: 1/-1;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(3,3fr);
    margin-bottom: -50px;
}
.nav>.titulo>h1{
   color: #fff;
   grid-column: 1/span 2;
   margin-top: -5px;
   margin-bottom: -20px;
   display: grid;
   grid-template-columns: repeat(2,1fr);
   grid-template-rows: repeat(3,1fr);
   text-shadow: 1px 1px 2px black;
   font-size: 28px;
   margin-left: 20px;
}
.nav>.titulo>h1>p{
    grid-row: 2;
    grid-column: 1/ span 1;
    color: #fff;
    align-items: right;
    justify-items: right;
    
    font-size: 15px;
    text-shadow: 1px 1px 2px black;
}
/* div */
.divReferenciasImg{
    display: grid;
    grid-column: 2;
    margin-top: -15px;
    grid-template-columns: repeat(3,1fr);
}
.divMikrotik{
    margin-top: -20px;
    
    margin-bottom: -20px;
    grid-column: 2;
    grid-row: 2;
}
.divRaspConTexto{
    margin-top: -20px;
    margin-left: 130px;
    margin-bottom: -20px;
    grid-column: 2;
    grid-row: 2;
}
.divOpenSource{
    margin-top: -20px;
    margin-left: 300px;
    margin-bottom: -20px;
    grid-column: 2;
    grid-row: 2;
}

.divContacto{
    color: white;
    margin-top: 20px;
    margin-bottom: -8px;
    grid-column: 3 ;
    grid-row: 2;
}

.mediosDeContacto{
    text-align: center;
    margin-top: -15px;
    margin-bottom: -20px;
    text-shadow: 1px 1px 1px black;
}


.desarrollo{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    height: 100%;
    padding: 3rem;    
    gap:0.5rem;

    
}

.sistemas, .seguridad, .acesoramiento, .labler {
    padding: 10px;
    border-radius: 5px;
}
.sistemas>h3, .seguridad>h3, .acesoramiento>h3{
    text-align: center;
    margin-bottom: 10px;
}
.sistemas>span, .seguridad>span, .acesoramiento>span,.labler>p{
    opacity: 0.7;
    margin-bottom: 10px;
}
.labler{
    grid-column: 1/-1;
    grid-row: 1;
    text-align: center !important;
}
.sistemas{
    grid-column: 1/3;
    grid-row: 2;
}
.sistemasDesarrollo{
    grid-column: 1/-1;
    grid-row: 1;
    text-align: center;
    border: 1px solid black;
}
.seguridad{
    grid-column: 1/-1;
    grid-row: 3;
}
.seguridadDesarrollo{
    grid-column: 1/-1;
    grid-row: 1;
    text-align: center;
    border: 1px solid black;
}
.acesoramiento{
    grid-column: 3/5;
    grid-row: 2;
}
.acesoramientoDesarrollo{
    grid-column: 1/-1;
    grid-row: 1;
    text-align: center;
    border: 1px solid black;
}

/* titulos */
.lablerComoTitulo{
 font-weight: bold;
 font-size: 30px;
 opacity: 1;   
}

/* imagenes */
.imgMikrotik{
    height: 30px;
}
.imgOpenSource{
    height: 45px;
}
.imgRaspConTexto{
    width: 150px;
    margin-bottom: -5px;
    

}
.imgWhatsapp{
    width: 20px;
    margin-bottom: -5px;
   
}
.imgEmail{
    width: 24px;
    margin-bottom: -5px;
}

.whatsapp{
    transition:  0.5s;
}

.whatsapp:hover{
    cursor: pointer;
    font-size: 20px;
    transition:  0.5s;
}
.email{
    transition:  0.5s;
}
.email:hover{
    cursor: pointer;
    font-size: 20px;
    transition:  0.5s;
}
.informateSobreSistemas,
.informateSobreSeguridad,
.informateSobreAcesoramiento{
    color: blue;
    opacity: 0.8 !important;
}
.informateSobreSistemas:hover,
.informateSobreSeguridad:hover,
.informateSobreAcesoramiento:hover{
  cursor: pointer;
}
.oculto{
    display: none;
}